<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Grundlagen</title>
    <meta name="description" content="first vue example" />
    <meta name="author" content="cl" />
</head>
<body>
  <p>a simple content as pure text...</p>
  <!-- mount the app -->
  <div id="first-app">
    <p>{{ info }}</p>

    <div v-for="event in events" :key="event.id">
      <p>
        ID: {{ event.id }}
        <br />
        Name: {{ event.name }}
        <br />
        Anzahl Teilnehmende: {{ event.participantCount }}
      </p>
    </div>
    <div v-if="events.length > 0">
      <ul>
        <li v-for="event in events" :key="event.id">{{ event.id }}. {{ event.name }} ( {{ event.participantCount }})</li>
      </ul>
    </div>
    <div v-else>
      <span>too few</span>
    </div>

    <div>
      Neue Veranstaltung hinzufügen: {{ eventName }}
      <input id="add-name" v-model="eventName" placeholder="Name der Veranstaltung" />
      <input id="add-participant-count" v-model="participantCount" placeholder="0" type="number"/>
      <button id="add-button" @click="addEvent">Hinzufügen</button>
    </div>

    <div id="result-list" v-for="event in events" :key="event.id">
      <event-item :event="event" />
    </div>
  </div>



  <!-- vue-lib -->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- use with imports -->
<!--  <script type="importmap">-->
<!--    {-->
<!--      "imports": {-->
<!--        "vue": "https://unpkg.com/vue@3/dist/vue.esm/browser.js"-->
<!--      }-->
<!--    }-->
<!--  </script>-->
  <!-- script for first vue-app -->
  <script>
    const FirstVueApp = {
      data() {
        return {
          info: 'content from vue-instance...',
          events: [
            { id: 1, name: 'Veranstaltung 1', participantCount: 7 },
            { id: 2, name: 'Veranstaltung 2', participantCount: 9 },
            { id: 3, name: 'Veranstaltung 3', participantCount: 13 },
            { id: 4, name: 'Veranstaltung 4', participantCount: 23 },
          ]
        };
      },
      methods: {
        addEvent() {
          console.log('Veranstaltung hinzufügen', this.eventName);
          this.events.push({
            id: this.events.length + 1,
            name: this.eventName,
            participantCount: this.participantCount
          })
          this.eventName = '';
          this.participantCount = 0;
        }
      }
    };

    const firstApp = Vue.createApp(FirstVueApp);
    firstApp.component('event-item', {
      props: ['event'],
      template:
              `<p id='event-list-element-{{ event.id }}'>
              ID: {{ event.id }}
              <br />
              Name: {{ event.name }}
              <br />
              Anzahl Teilnehmende: {{ event.participantCount }}
              </p>`
    });

    firstApp.mount('#first-app');
  </script>
</body>
</html>